<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Created by Dariusz Lelek on 9/10/17 9:56 PM
  ~ Copyright (c) 2017. All rights reserved.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dictionary?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <!--TODO remove-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <!--<mapping resource="hibernate/mappings/Word.hbm.xml"/>-->
    <mapping class="hibernate.Word"></mapping>

  </session-factory>
</hibernate-configuration>
